#bio {
  position: relative;
}

#bio::before,
#contact::before {
  content: "";
  position: absolute;
  background: url(/images/Law.webp);
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

#bio::after,
#contact::after {
  content: "";
  position: absolute;
  background-color: var(--color-primary-background);
  width: 100%;
  height: 100vh;
  opacity: .7;
}

#contact::after {
  height: 100%;
}

.bio .container,
.contact .container {
  margin: 3rem auto;
  gap: 10rem;
  z-index: 2;
}

.bio__heading {
  font-size: var(--font-size-32);
  text-align: center;
}

.bio__objective {
  font-size: var(--font-size-18);
  font-family: var(--font-family-poppins);
  margin: 2rem 0 2.7rem;
  text-align: center;
}

.bio__name {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-22);
  background-color: var(--color-yellow);
  color: var(--color-secondary-text);
  padding: .1rem .7rem;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 1rem;
}

.bio__fb,
.bio__linkedin,
.bio__codepen {
  color: #00ffce;
}

.bio__linkedin {
  display: inline;
}

.bio__github:hover,
.bio__linkedin:hover {
  color: var(--color-yellow);
}

.bio__links {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-16);
  text-decoration: none;
}

.say-hi-link {
  background-color: var(--color-yellow);
  color: var(--color-secondary-text);
  padding: .4rem 1.8rem;
  border-radius: 3px;
}

.find-out-link {
  padding: .4rem 0;
  margin-inline-start: 1.4rem;
}

.say-hi-link:hover,
.find-out-link:hover {
  text-decoration: none;
}

.bio__arrow {
  display: inline-block;
  animation: jump 1s infinite alternate ease-in-out;
}

@keyframes jump {
  0% {
    transform: translateY(.2rem);
  }
  35% {
    transform: translateY(-.2rem);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.bio__pic {
  border-radius: 50%;
  border: 1px solid var(--color-yellow);
}

.bio__pic-content {
  align-content: center;
}