.clients__opinions {
  grid-column: 1 / -1;
  line-height: 1.8;
  font-size: var(--font-size-14);
}

.clients__wrapper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.clients_opinion {
  flex-basis: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
}