@import "./mixins";

form {
  display: grid;
  gap: 2rem;
}

.contact {
  @include twoColumns ($column-gap: 15rem, $row-gap: 0);
  align-items: center;
}

.contact__description {
  font-size: var(--font-size-14);
  line-height: 1.8;
}

.contact__email {
  font-weight: var(--font-weight-bold);
  margin: 1.5rem 0;
}

.contact__social {
  transition: var(--transition-timing);
}

.contact__social:hover {
  transform: scale(1.2);
}

.contact__img {
  border-radius: 50%;
  width: 2rem;
  padding: 0.1rem;
  margin-right: 0.3rem;
  background-color: var(--color-green);
}

.contact__inputs {
  display: flex;
  gap: 2rem;
}

.contact__input {
  border: 0;
  outline: 0;
  flex: 1;
  background-color: transparent;
  border-bottom: .1rem solid var(--color-input-border);
}

.border-bottom-input {
  border-bottom: .1rem solid var(--color-green);
}

.contact__textarea {
  width: 100%
}

.contact__button {
  border: 0;
  background-color: var(--color-link-bg);
  color: var(--color-white);
  padding: .6rem 1.1rem;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-16);
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 3px;
}