@import "./mixins";

form {
  display: grid;
  gap: 2rem;
  direction: rtl;
}

#contact {
  position: relative;
}

#contact::before {
  content: "";
  position: absolute;
  background-image: url(../images/pexels-pavel-danilyuk-8112136.webp);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.contact .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
}

.contact__social {
  transition: var(--transition-timing);
}

.contact__social:hover {
  transform: scale(1.2);
}

.contact__social__img {
  border-radius: 50%;
  width: 2rem;
  padding: 0.1rem;
  margin-left: .5rem;
  background-color: var(--color-yellow);
}

.contact .h2__heading {
  margin: 0 0 2rem;
  line-height: 1.4;
  font-size: var(--font-size-24);
}

.contact__description {
  font-size: var(--font-size-20);
  line-height: 1.4;
  margin-bottom: .5rem;
}

.contact__inputs {
  display: flex;
  gap: 2rem;
}

.contact__input {
  border: 0;
  outline: 0;
  flex: 1;
  color: var(--color-primary-text);
  background-color: transparent;
  border-bottom: .1rem solid var(--color-yellow);
  direction: rtl;
}

.border-bottom-input {
  border-bottom: .1rem solid var(--color-foushi);
}

.contact__textarea {
  width: 100%;
  color: var(--color-primary-text);
}

.contact__button {
  border: 0;
  background-color: var(--color-link-bg);
  color: var(--color-secondary-text);
  padding: .6rem 1.1rem;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-16);
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 3px;
}

.contact__button:hover {
  background: var(--color-secondary-background);
}

.show-error {
  font-size: .9rem;
  margin-top: 1rem;
  line-height: 1.8;
}

.hide {
  position:absolute;
  top:-1px;
  left:-5555555px;
  width:1px;
  height:1px;
}