.footer {
  padding: .8rem;
  display: grid;
  text-align: center;
  justify-items: center;
}

.footer__author {
  margin: .5rem 0 1.5rem;
}

.footer__author span {
  font-weight: 600;
  text-shadow: 0 0 black;
}

.footer__contact {
  width: 10rem;
  margin: auto;
}

.footer__contact-info {
  display: flex;
  align-items: center;
  gap: .8rem;
  margin-bottom: .4rem;
}

.location,
.phone {
  width: 1rem;
}