.header .container {
  padding: 0 var(--gutter);
}

.header, 
.footer {
  background-color: var(--color-secondary-background);
  color: var(--color-secondary-text);
}

/* Start Nav */
.navigation__list {
  display: flex;
}

.navigation__link {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  position: relative;
  overflow: hidden;
  transition: var(--transition-timing);
  font-size: var(--font-size-14);
}

.navigation__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 0;
  left: -100%;
  background-color: var(--color-yellow);
  transition: var(--transition-timing);
}

.navigation__link:hover {
  background-color: var(--color-primary-background);
  color: var(--color-primary-text);
}

.navigation__link:hover::before {
  left: 0;
}

.burger-menu__checkbox {
  display: none;
}
/* End Nav */

/* Start toggle */
.toggle {
  display: flex;
  align-items: center;
  flex: auto;
}

.toggle__title {
  font-size: var(--font-size-14);
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: sans-serif;
  background: var(--color-yellow);
  padding: .5rem;
  border-radius: 3px;
}

.phone {
  font-weight: bold;
}

.toggle__checkbox {
  display: none;
}

.logo {
  height: 80px;
  margin-left: .5rem;
  display: flex;
}

.logo img {
  width: 100%;
}