@import "./mixins";

.projects__main { 
  display: flex;
  flex-direction: column;
  row-gap: 7.5rem;
}
.project-one,
.project-two,
.project-three {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 7.5rem;
  column-gap: 7.5rem;
}

.projects__img {
  max-width: 100%;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.3);
}

.projects__data {
  align-self: center;
}

.projects__description {
  line-height: 1.8;
}

.projects__links {
  color: var(--color-dark-blue);
  font-family: var(--font-family-poppins);
  font-weight: var(--font-weight-medium);
  margin-top: 1.3rem;
  margin-right: 1rem;
}

.projects__links::after {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url(../images/external-icon.png);
  background-size: contain;
  margin-left: .4rem;
}
