@import "./mixins";

.projects__contain {
  display: grid;
  grid-template-columns: 15% 1fr;
  gap: 4rem;
}

.projects__filters {
  padding: 1rem .5rem;
  border-radius: .4rem;
  background-color: var(--color-secondary-text);
  box-shadow: 30px -20px 15px -30px var(--color-secondary-text);
}

.projects__buttons {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.heading__projects-filter {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-primary-text);
  margin-bottom: 1.5rem;
}

.projects__button {
  width: 100%;
  padding: .5rem 0;
}

.projects__list { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

.projects__item {
  display: flex;
  position: relative;
}

.projects__img {
  width: 100%;
  border-radius: .2rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .3);
  opacity: .6;
  transition: var(--transition-timing);
}

.projects__img:hover {
  opacity: 1;
  transform: scaleY(1.08);
}

.projects__data {
  width: max-content;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  align-self: center;
  z-index: 1;
  opacity: 0;
  transition: var(--transition-timing);
}

.projects__data:hover,
.projects__img:hover + .projects__data {
  opacity: 1;
}

.projects__links {
  background-color: var(--color-yellow);
  border-radius: 3px;
  color: var(--color-secondary-text);
  font-family: var(--font-family-poppins);
  font-weight: var(--font-weight-medium);
  padding: 5px 10px;
  opacity: .9;
}

.projects__links:hover {
  color: var(--color-secondary-text);
  background-color: var(--color-yellow);
  opacity: 1;
}