@media (max-width: 1000px) {
  html {
    font-size: 8px;
  }
}

/* For Tablet */
@media (max-width: 800px) {
  .container {
    row-gap: 8rem;
  }

.navigation {
  font-size: var(--font-size-16);
}

  .section {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .bio__pic-content {
    grid-row: 1;
    justify-self: center;
    margin-bottom: 2rem;
  }

  .skills__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects__main {
    row-gap: 2rem;
    justify-items: center;
  }

  .project-one,
  .project-two,
  .project-three {
    grid-template-columns: 1fr;
  }

  .projects__data {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  .project-two .projects__data {
    order: 1;
  }

  .contact {
    row-gap: 2rem;
  }

  .contact__contactForm {
    order: -1;
  }

}

/* For Mobile */
@media (max-width: 500px) {
  .header {
    padding: 1.5rem;
  }

  .header::before {
    z-index: 0;
  }

  .bio__pic-content {
    margin: auto;
    margin-bottom: 4rem;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: .4rem;
    z-index: 0;
    align-self: center;
  }

  .burger-menu__bar {
    width: 2.5rem;
    height: .3rem;
    background-color: var(--color-text);
    transition: var(--transition-timing);
  }

  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(1) {
    transform: translateY(8px) rotate(40deg);
  }

  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }

  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(3) {
    transform: translateY(-3px) rotate(-40deg);
  }

  .burger-menu__checkbox:checked + .navigation {
    top: 100%;
  }

  .navigation {
    position: absolute;
    width: 100vw;
    background-color: var(--color-background);
    top: 0;
    font-size: var(--font-size-14);
    padding: 1.5rem 0;
    border-bottom: .1rem solid var(--color-text);
    z-index: -1;
  }

  .navigation__list {
    justify-content: center;
  }

  .toggle {
    padding: 1.5rem 0;
    z-index: 1;
  }
}