#skills {
  grid-template-columns: 1fr;
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3rem;
}

.skills__item {
  transition: var(--transition-timing);
  user-select: none;
}

.skills__item:hover {
  text-shadow: 0 0 2px var(--color-green);
}

.skills__title {
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-semi-bold);
}

.skills__years {
  display: inline-block;
  font-size: var(--font-size-14);
  margin-top: .4rem;
  margin-bottom: .8rem;
}